{% block header %}
	<div><h1>Projet Ryuk</h1></div>
	<div class="clickable"><a href={{ path('app_home') }}>
		<img class="accueil" src="{{ asset('images/icon.svg') }}" width="30%" alt="Accueil">
	</a></div>
	<div class="clickable"><a href={{ path('app_predictions') }}>Prédictions</a></div>
	<div class="clickable"><a href={{ path('app_testament') }}>Testament</a></div>
	<div class="clickable"><a href={{ path('app_carte') }}>Carte</a></div>
	<div class="clickable"><a href={{ path('app_ressources') }}>Ressources</a></div>
{% endblock %}
