{% block header %}

	<a href={{ path('app_home') }}>
		<img class="accueil" src="{{ asset('images/icon.svg') }}" width="30%" alt="Accueil">
	</a>
	<a href={{ path('app_predictions') }}>Prédictions</a>
	<a href={{ path('app_assurance') }}>Assurance Vie</a>
	<a href={{ path('app_testament') }}>Testament</a>
	<a href={{ path('app_carte') }}>Carte</a>
	<a href={{ path('app_ressources') }}>Ressources</a>
{% endblock %}
