{% extends 'base.html.twig' %}

{% block title %}Ryuk - Prédictions
{% endblock %}

{% block content %}
	<h2>Quelles sont vos chances de survie ?</h2>
	<article>
		<p>
			<b>Vos données :</b><br>
			{{ prenom }}
			{{ nom }}
			({{ genre }})
			<br>
			Date de naissance :
			{{ date_naissance }}
			<br>
			Signes :
			{{ signe_chinois }}
			(chinois),
			{{ signe_astrologique }}
			(astrologique),
			{{ signe_emissaire }}
			(émissaire)
			<br>
			Emplacement :
			{{ etage }}
			étage,
						rue
			{{ rue }},
			{{ ville }}
			{{ departement }}
			{{ pays }}
			<br>
			Votre réponse concernant la présence de la couleur verte dans votre champ de vision :
			{{ vert }}
			<br>
			Dernier repas :
			{{ repas }}
			<br>
			Dernière boisson :
			{{ boisson }}
			<br>
			Plat préféré :
			{{ plat_prefere }}
			<br>
			Vous avez
			{{ sang }}
			litres de sang en votre possession.
			<br>
			Message d'erreur :
			{{ anxiete }}
			<br>
			Stress :
			{{ anxiete2 }}
			<br>
			Volonté de mort :
			{{ anxiete3 }}
		</p>
		<p>
			<b>Selon nos calculs, vous avez
				{{ stats }}
				de chances de survie.</b>
		</p>
	</article>
{% endblock %}
